{% extends 'paginas_base/base.html' %}

{% block titulo %} Lista de clientes {% endblock titulo %} Pagina de inicio

{% block contenido %}
    <div class="card">
        <div class="card-header">
            <a name="btnuevo" id="btnuevo" class="btn btn-primary" href="{% url 'crear'%}" role="button">Nuevo Cliente</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Clientes</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Ap</th>
                        <th>Am</th>
                        <th>Direccion</th>
                        <th>Foto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cl in listado %}
                    <tr>
                        
                        <td>{{cl.id}}</td>
                        <td>{{cl.nom}}</td>
                        <td>{{cl.ape}}</td>
                        <td>{{cl.apm}}</td>
                        <td>{{cl.dir}}</td>
                        <td>
                            <img src="{{cl.foto.url}}" height="60">
                        </td>
                        <td>
                            <a name="bteditar" id="bteditar" class="btn btn-primary" href="{% url 'editar' cl.id %}" role="button">Editar</a>
                            <a name="bteliminar" id="bteliminar" class="btn btn-danger" href="{% url 'eliminar' cl.id %}" role="button">Eliminar</a>
                        </td>
                        
                    </tr>
                    {% endfor  %}
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>



{% endblock %}






